@model PetDiverse.Models.BairroViewModel

@{
    ViewData["Title"] = "Editar bairro";
}

<h2>Editar bairro</h2>

@* <h4>Bairro</h4> *@
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="row">
                <div class="col-md-9">
                    <div class="form-group row">
                        <label asp-for="Nome" class="col-sm-5 control-label"></label>
                        <div class="col-sm-7">
                            <input asp-for="Nome" class="form-control" />
                            <span asp-validation-for="Nome" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-9">
                    <div class="form-group row">
                        <label asp-for="IdCidade" class="col-sm-5 control-label"></label>
                        <div class="col-sm-7">
                            <select asp-for="IdCidade" class="form-control" asp-items="ViewBag.IdCidade"></select>
                            <span asp-validation-for="IdCidade" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group mt-2">
                <a asp-action="Index" class="btn btn-cinza">Voltar a lista</a>
                <input type="submit" value="Editar" class="btn btn-roxo" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
