@model PetDiverse.Models.RacaViewModel

@{
    ViewData["Title"] = "Criar raça";
}

<h2>Criar raça</h2>

@* <h4>Raca</h4> *@
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-md-9">
                    <div class="form-group row">
                        <label asp-for="Descricao" class="col-sm-5 control-label"></label>
                        <div class="col-sm-7">
                            <input asp-for="Descricao" class="form-control" />
                            <span asp-validation-for="Descricao" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-9">
                    <div class="form-group row">
                        <label asp-for="IdTipoAnimal" class="col-sm-5 control-label"></label>
                        <div class="col-sm-7">
                            <select asp-for="IdTipoAnimal" class="form-control" asp-items="ViewBag.IdTipoAnimal"><option value="">Selecione o tipo de animal</option></select>
                            <span asp-validation-for="IdTipoAnimal" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group mt-2">
                <a asp-action="Index" class="btn btn-cinza">Voltar a lista</a>
                <input type="submit" value="Criar" class="btn btn-roxo" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
