@model PetDiverse.Data.Estado

@{
    ViewData["Title"] = "Excluir estado";
}

<h2>Excluir estado</h2>

<h4>Tem certeza de que deseja excluir este estado?</h4>
<div>
    @* <h4>Estado</h4> *@
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sigla)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sigla)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <a asp-action="Index" class="btn btn-cinza">Voltar a lista</a>
        <input type="submit" value="Excluir" class="btn btn-danger" />
    </form>
</div>
