@model PetDiverse.Data.RegistroCirurgia

@{
    ViewData["Title"] = "Excluir registro de cirurgia";
}

<h2>Excluir registro de cirurgia</h2>

<h4>Tem certeza de que deseja excluir esta registro de cirurgia?</h4>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Data de registro
        </dt>
        <dd class = "col-sm-10">
            @Model.DataRegistro.ToString("dd/MM/yyyy")
        </dd>
        <dt class = "col-sm-2">
            Tipo cirurgia
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoCirurgia.Descricao)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <a asp-action="Index" asp-route-idAnimal="@Model.IdAnimal" class="btn btn-cinza">Voltar a lista</a>
        <input asp-route-idAnimal="@Model.IdAnimal" type="submit" value="Excluir" class="btn btn-danger" />
    </form>
</div>
