@page
@model IndexModel
@using System.Security.Claims
@{
    ViewData["Title"] = "Meus dados";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h3>Meus dados</h3>
<partial name="_StatusMessage" for="StatusMessage" />

<div class="row">
    <div class="col-md-12">
        <iframe src="/PessoaDoadora/Edit/@User.FindFirst(ClaimTypes.NameIdentifier).Value"
                style="width:100%; min-height:1000px; border:none;">
        </iframe>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
