html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.bg-roxo {
    background-color: #EDE9FE;
}

.navbar-roxo .navbar-brand {
    color: #8B5CF6;
}

.btn-roxo {
    background-color: #8B5CF6;
    color: #FFFFFF;
}

    .btn-roxo:hover {
        background-color: ;
        color: #FFFFFF;
    }

.btn-cinza {
    background-color: #B5B4B8;
    color: #FFFFFF;
}

    .btn-cinza:hover {
        background-color: #A9A7AB;
        color: #FFFFFF;
    }

.text-roxo, .text-roxo:link, .text-roxo:visited {
    color: #8B5CF6;
    text-decoration:none;
}

    .text-roxo:hover {
        color: #6610f2;
    }

/* Botão do Dropdown Customizado */
.dropdown-roxo {
    background-color: transparent !important;
    border-color: transparent !important;
    /* Adicionamos um padding para que o botão tenha uma área clicável, mesmo sem texto. */
    padding: 0.375rem 0.75rem !important;
}

    /* Efeito ao passar o mouse ou focar */
    .dropdown-roxo:hover,
    .dropdown-roxo:focus {
        background-color: rgba(111, 66, 193, 0.1) !important; /* Fundo roxo bem claro */
        box-shadow: none !important; /* Remove a sombra azul de foco */
    }

    /* Recriando a seta (caret) do zero */
    .dropdown-roxo::after {
        display: inline-block; /* Essencial para que o pseudo-elemento seja visível */
        vertical-align: 0.255em; /* Alinha a seta no meio do botão */
        content: ""; /* Conteúdo vazio é obrigatório para pseudo-elementos */
        /* A mágica do triângulo usando bordas */
        border-top: 0.3em solid #6f42c1; /* A cor da seta */
        border-right: 0.3em solid transparent;
        border-bottom: 0;
        border-left: 0.3em solid transparent;
    }

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='%23A590FF' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

